on:
  pull_request:
  push:
    branches:
      - main

name: Build docker image
jobs:
  build-docker:
    runs-on: ubuntu-latest
    name: Build Docker Image
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - id: get-version
      run: |
        version=$(echo "${{ github.sha }}" | cut -c1-8)
        echo "::set-output name=version::$version"

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: |
          ghcr.io/obolnetwork/charon/charon
        tags: "latest,${{steps.get-version.outputs.version}}"

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.CONTAINER_REGISTRY_SECRET }}

    - name: Publish to registry
      uses: docker/build-push-action@v2
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        build-args: GITHUB_SHA=${{ github.sha }}
        tags: ${{ steps.meta.outputs.tags }}

    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
