on:
  push:
    branches:
      - main
    paths:
      - testutil/promrated/*

name: Build and Deply Promrated Image
jobs:
  build-docker:
    runs-on: ubuntu-latest
    name: Build Docker Image
    steps:
    - uses: actions/checkout@v3
    - uses: docker/setup-buildx-action@v1

    - name: Define docker image meta data tags
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: |
          obolnetwork/promrated
          ghcr.io/obolnetwork/promrated
        tags: |
          # Tag "git short sha" on push to branch (main)
          type=sha,event=branch,prefix=
          # Tag "latest" on all events
          type=raw,value=latest
          # Tag "tag ref" on tag push events
          type=ref,event=tag
    - name: Login to Github container registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to Dockerhub container registry
      uses: docker/login-action@v2
      with:
        username: obolnetwork
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - uses: docker/build-push-action@v3
      with:
        context: .
        file: ./testutil/promrated/Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        build-args: GITHUB_SHA=${{ github.sha }}
        tags: ${{ steps.meta.outputs.tags }}
        
    - name: Split branch name
      env:
        SHA_TAG: ${{ steps.meta.outputs.tags[1] }}
      id: split
      run: echo "::set-output name=sha::${SHA_TAG##*:}"
  
    - name: Trigger promrated deploy job
      uses: peter-evans/repository-dispatch@v2
      with:
        token: ${{ secrets.CHARON_K8S_REPO_ACCESS_TOKEN }}
        repository: ObolNetwork/obol-infrastructure
        event-type: promrated-apply
        client-payload: '{"tag": "${{ steps.split.outputs.sha }}"}'
