name: 'Deploy Dev Relay'

on:
  workflow_dispatch:
    inputs:
      relay_name:
        description: The docker image tag to deploy
        required: true
        type: choice
        options:
        - relay-dev
      image_tag:
        description: The docker image tag to deploy
        required: true
        type: string

jobs:
  deploy-relay:
    runs-on: ubuntu-latest
    name: Deploy Relay - Dev
    steps:
    - name: Trigger relay nonprod deploy job
      uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
      with:
        token: ${{ secrets.CHARON_K8S_REPO_ACCESS_TOKEN }}
        repository: ObolNetwork/obol-infrastructure
        event-type: relay-nonprod-deployment
        client-payload: '{"relay_name": "${{ inputs.relay_name }}","relay_version": "${{ inputs.image_tag }}"}'
