name: 'Deploy Prod Relay'

on:
  workflow_dispatch:
    inputs:
      relay_name:
        description: The docker image tag to deploy
        required: true
        type: choice
        options:
        - relay-0
        - relay-1
        - relay-2
      image_tag:
        description: The docker image tag to deploy
        required: true
        type: string

jobs:
  deploy-relay:
    runs-on: ubuntu-latest
    name: Deploy Relay - Prod
    steps:
    - name: Trigger relay deploy job
      uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
      with:
        token: ${{ secrets.CHARON_K8S_REPO_ACCESS_TOKEN }}
        repository: ObolNetwork/obol-infrastructure
        event-type: relay-prod-deployment
        client-payload: '{"relay_name": "${{ inputs.relay_name }}","relay_version": "${{ inputs.image_tag }}"}'
