name: golangci-lint
on:
  pull_request:
  push:
    branches:
      - main*

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    runs-on: charon-ci
    steps:
      # Config options can be found in README here: https://github.com/golangci/golangci-lint-action
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup-go
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: v2.6.1
