name: govulncheck
on:
  pull_request:
  push:
    branches:
      - main*
    tags:
      - 'v*'

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.20.3'
      - run: go install golang.org/x/vuln/cmd/govulncheck@latest
      - run: govulncheck -v -test ./...
