name: govulncheck
on:
  pull_request:
  push:
    branches:
      - main*

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-go
      - run: go install golang.org/x/vuln/cmd/govulncheck@v1.1.3
      - run: govulncheck -show=traces -test ./...
