# This runs nightly tests once a day at 12:00 noon.
name: nightly tests
on:
  schedule:
    - cron: "00 12 * * *"

jobs:
  nightly_test:
    runs-on: charon-ci
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-go
      - uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: go test -v -timeout=90m -race github.com/obolnetwork/charon/testutil/integration -nightly

  fuzz_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3 # For compose to build images
        with:
          driver-opts: "image=moby/buildkit:v0.10.5" # avoid unknown/unknown arch in ghcr
      - uses: ./.github/actions/setup-go
      - uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: |
          echo "CHARON_REPO=$(pwd)" >> $GITHUB_ENV
          echo "DOCKER_BUILDKIT=1" >> $GITHUB_ENV
      - run: go test -race github.com/obolnetwork/charon/testutil/compose/fuzz -v -fuzzer -sudo-perms -timeout=45m -log-dir=.
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: fuzz-test-logs
          path: testutil/compose/fuzz/*.log
          retention-days: 3
