on:
  push:
    tags:
      - 'v*'
name: Publish Release
jobs:
  release:
    runs-on: ubuntu-latest
    name: Publish Release
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # Disable shallow checkout

      - name: Setup Go environment
        uses: ./.github/actions/setup-go

      - name: Generate CLI reference
        run: go run . --help > cli-reference.txt

      - name: Generate changelog
        run: go run testutil/genchangelog/main.go

      - name: Create GitHub release draft
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        with:
          draft: true
          files: cli-reference.txt
          body_path: changelog.md
          token: ${{ secrets.RELEASE_SECRET }}

  trigger-dispatch:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Extract tag name
        run: echo "TAG_NAME=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Validate tag pattern
        id: validate_tag
        run: |
          if [[ "${TAG_NAME}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "TAG_VALID=true" >> $GITHUB_ENV
          else
            echo "TAG_VALID=false" >> $GITHUB_ENV
          fi

      - name: Trigger dispatch for obol-docs
        if: env.TAG_VALID == 'true'
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/obol-docs
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for helm-charts
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/helm-charts
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for obol-ansible
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/obol-ansible
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for CDVN
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/charon-distributed-validator-node
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for CDVC
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/charon-distributed-validator-cluster
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for LCDVN
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/lido-charon-distributed-validator-node
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for Launchpad
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/dv-launchpad
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'
