on:
  push:
    tags:
      - 'v*'
name: Publish Release
jobs:
  release:
    runs-on: ubuntu-latest
    name: Publish Release
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # Disable shallow checkout

      - name: Setup Go environment
        uses: ./.github/actions/setup-go

      - name: Generate CLI reference
        run: go run . --help > cli-reference.txt

      - name: Generate changelog
        run: go run testutil/genchangelog/main.go

      - name: Create GitHub release draft
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          draft: true
          files: cli-reference.txt
          body_path: changelog.md
          token: ${{ secrets.RELEASE_SECRET }}

  trigger-dispatch:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Extract tag name
        run: echo "TAG_NAME=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Validate tag pattern
        id: validate_tag
        run: |
          if [[ "${TAG_NAME}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(-rc[0-9]+)?$ ]]; then
            echo "TAG_VALID=true" >> $GITHUB_ENV
          else
            echo "TAG_VALID=false" >> $GITHUB_ENV
          fi

      - name: Trigger dispatch for obol-docs
        if: env.TAG_VALID == 'true'
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/obol-docs
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for helm-charts
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/helm-charts
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for obol-ansible
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/obol-ansible
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for CDVN
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/charon-distributed-validator-node
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for CDVC
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/charon-distributed-validator-cluster
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for LCDVN
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/lido-charon-distributed-validator-node
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for Launchpad
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/dv-launchpad
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'

      - name: Trigger dispatch for obol-infrastructure
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        if: env.TAG_VALID == 'true'
        with:
          token: ${{ secrets.OBOL_PLATFORM_PAT }}
          repository: ObolNetwork/obol-infrastructure
          event-type: update-version
          client-payload: '{"tag": "${{ env.TAG_NAME }}"}'
