# Runs "go vet" and "go test -short".
# TODO: Might want to skip this stage in case Go files aren't modified.
on: [ pull_request ]
name: unit tests
jobs:
  unit_tests:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: '50'
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.17.1'
    - uses: actions/cache@v2
      with:
        path: |
          ~/go/pkg/mod      # Module download cache
          ~/.cache/go-build # Build cache (Linux)
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}-v2
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Test and Run coverage
      run: go test -coverprofile=coverage.out -covermode=atomic ./... -v -short
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.1.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.out
    - name: Check Format
      run: '[ "$(gofmt -l ./ | wc -l)" -eq 0 ]'
