name: verify-pr
on:
  pull_request:
    types: [opened, reopened, edited, synchronize]

jobs:
  verify:
    runs-on: ubuntu-latest
    env:
      GITHUB_PR: ${{ toJSON(github.event.pull_request) }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.20.3'

      - name: "Verify PR"
        run: go run github.com/obolnetwork/charon/testutil/verifypr
