name: verify-pr
on:
  pull_request:
    types: [opened, reopened, edited, synchronize]

jobs:
  verify:
    runs-on: ubuntu-latest
    env:
      GITHUB_PR: ${{ toJSON(github.event.pull_request) }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./.github/actions/setup-go

      - name: "Verify PR"
        run: go run github.com/obolnetwork/charon/testutil/verifypr
