name: verify-pr
on:
  pull_request:
    types: [opened, reopened, edited, synchronize]

jobs:
  verify:
    runs-on: ubuntu-latest
    env:
      GITHUB_PR: ${{ toJSON(github.event.pull_request) }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./.github/actions/setup-go

      - name: "Verify PR"
        run: go run github.com/obolnetwork/charon/testutil/verifypr
